body{
    background-color: rgb(19, 46, 72);
}
h1{
    color:azure;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h2{
    color:azure;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h3{
    color:azure;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h4{
    color:azure;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h5{
    color:azure;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h6{
    color:azure;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
p{
    color:azure;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
a{
    color:azure;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}